{
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript"
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "max-len": [2, { "code":  120}],
    "func-style": [2, "declaration", { "allowArrowFunctions": true }]
  },
  "env": {
    "jest": true,
    "node": true
  }
}
